<% provide(:title, "新規登録")%>
<div class="container my-5">
  <div class="mee-sign_up col-sm-10 col-lg-6  mx-auto shadow p-5">
    <h3>Meeに新規登録する</h3>
    <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <!--名字-->
      <div class="field form-group">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, autofocus: true, autocomplete: "first_name", :placeholder => "山田", class: 'form-control w-25'  %>
      </div>
      <!--名前-->
      <div class="field form-group">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, autofocus: true, autocomplete: "last_name", :placeholder => "太郎", class: 'form-control w-25' %>
      </div>
      <!--ニックネーム-->
      <div class="field form-group">
        <%= f.label :nickname %><br />
        <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", :placeholder => "yamadatarou", class: 'form-control w-50' %>
      </div>
      <!--メールアドレス-->
      <div class="field form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "sample@exsample.com", class: 'form-control w-75' %>
      </div>
      <!--パスワード-->
      <div class="field form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control w-50' %>
      </div>
      <!--確認パスワード-->
      <div class="field form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control w-50' %>
      </div>
      <!--新規登録ボタン-->
      <div class="actions">
        <%= f.submit "新規登録", class: 'btn btn-success' %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
