<% provide(:title, "フォロー一覧")%>
<div class="container my-5 relationships">
  <h3 class="font-weight-bold">フォロー一覧 (<%= @followings.count%>フォロー)</h3>
  <div class="row">
    <% @followings.each do |following|%>
      <div class="col-6 col-md-3 text-center">
        <%= link_to user_path(following), class: 'text-decoration-none' do%>
          <%= attachment_image_tag following, :image, size: '150x150', format: 'jpeg', fallback: asset_path('no_image2.jpeg')%>
          <p class="text-dark"><%= following.nickname %></p>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= paginate @followings %>
</div>