<% provide(:title, "ユーザー一覧")%>
<div class="container my-4">
  <h3><i class="fas fa-users text-secondary"></i> ユーザー一覧</h3>
  <!--ソート機能-->
  <div class="form-group">
    <%= form_with url: users_path, method: :get, remote: true do |f| %>
      <%= f.select :sort, options_for_select({'登録日時が新しい順'=>'new', '登録日時が古い順'=>'old'}), class: 'form-control' %>
      <%= f.submit '検索', class: 'btn btn-light' %>
    <% end %>
  </div>
  <!--ユーザー一覧部分-->
  <div id="users_index" class="row">
    <%= render 'users/list', users: @users %>
  </div>
  <%= paginate @users %>
</div>

