<% provide(:title, "ユーザー詳細&いいね一覧")%>
<div class="container my-5">
  <div class="row">
    <div class="col-md-6 col-lg-4 mx-auto">
      <h3 class="mt-2"><i class="fas fa-user-edit text-secondary"></i> ユーザー詳細ページ</h3>
      <div class="card border-dark">
        <%= attachment_image_tag @user, :image, size: '350x350', format: 'jpeg', fallback: asset_path('no_image2.jpeg'), class: 'card-img-top' %>
        <p class="card-header"><%= @user.nickname %></p>
        <div class="card-body">
          <p class="card-text d-inline-block"><%= link_to 'フォロー一覧', user_following_path(@user), class: "btn btn-primary" %></p>
          <p class="card-text d-inline-block"><%= link_to 'フォロワー一覧', user_follower_path(@user), class: "btn btn-primary" %></p>
          <p class="card-text"><%= link_to '相互フォロー一覧', user_mutual_follow_path(@user), class: "btn btn-primary" %></p>
        </div>
        <div class="card-footer text-center">
          <% if current_user == @user %>
            <%= link_to '編集する', edit_user_path(@user), class: "fas fa-edit btn btn-outline-success" %>
          <% else %>
            <div id="follow_<%= @user.id %>">
              <%= render 'relationships/follow_btn', user: @user, follow: @follow %>
            </div>
          <% end %>
          <div class="chat_<%= @user.id %>">
            <%= render 'rooms/chat_room', is_room: @is_room, room_id: @room_id, room: @room, entry: @entry, user: @user %>
          </div>
        </div>
      </div>
    </div>
    <!--自己紹介部分-->
    <div class="col-md-12 col-lg-8 mt-5">
      <%= render 'users/introduction', user: @user %>
    </div>
    <!--いいね一覧部分-->
    <div id="likes_<%= @user.id%>" class="col-md-12 mt-3">
      <%= render 'likes/index', likes: @likes %>
    </div>
  </div>
</div>
