<!--チャット部分-->
<% provide(:title, "#{@another_entry.user.nickname}さんとのチャットルーム")%>
<div class="container chat-room mt-4">
  <h3><%= @another_entry.user.nickname %>さんとのチャットルーム</h3>
  <div class="bg-dark p-2">
  <div id="chat_message_<%= @room.id %>" class="line-bc col-sm-12">
    <%= render 'messages/message', messages: @messages, room: @room %>
  </div>
  <%= form_with model: [@room, @message], remote: true do |f| %>
    <%= f.hidden_field :room_id, value: @room.id %>
    <div class="form-group row pt-2">
      <div class="col-9 col-sm-11">
        <%= f.text_area :body, :placeholder => "メッセージを入力してください！", class: 'form-control' %>
      </div>
      <%= f.submit '送信', class: 'btn btn-light' %>
    </div>
  <% end %>
  </div>
  <!--使用上の注意点部分-->
  <div class="row chat-cautions">
    <!--注意点テキスト-->
    <div class="chat-texts mt-3">
      <h4 class="font-weight-bold mt-4 pl-1">使用する上で…</h4>
      <ol>
        <li class="chat-exsample my-5">利用している方が不快に思わないメッセージを送りましょう！</li>
        <li class="chat-exsample my-5">メッセージは必ず入力しましょう！(空白だと送信されません)</li>
        <li class="chat-exsample">楽しくチャット機能を利用して下さい！！</li>
      </ol>
    </div>
    <!--画像-->
    <div class="chat-image mt-5"></div>
  </div>
</div>