<div class="container">
  <h3>投稿一覧</h3>
  <p><%= link_to '新規投稿ページへ', new_post_path %></p>
  <div class="row">
    <% @posts.each do |post|%>
      <div class="col-md-4 text-center">
        <%= link_to post_path(post.id) do%>
          <%= attachment_image_tag post, :image, size: '300x300' ,format: 'jpeg', fallback: 'no_image2.jpeg'%>
        <% end %>
        <div class="text-left">
          <!--いいねボタン-->
          <% if post.liked_by?(current_user) %>
            <%= link_to post_likes_path(post.id), method: :delete do %>
              <i class="fas fa-star"></i>
            <% end %>
          <% else %>
            <%= link_to post_likes_path(post.id), method: :post do %>
              <i class="far fa-star"></i>
            <% end %>
          <% end %>
          <!--投稿詳細ページリンク-->
          <p><%= link_to post.title, post_path(post.id), class: 'text-decoration-none'%></p>
          <!--投稿ジャンル-->
          <p class="text-truncate"><%= post.genre.name %></p>
          <!--投稿本文-->
          <p class="text-truncate"><%= post.body %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
