<% provide(:title, "投稿一覧")%>
<div class="container my-4">
  <h3><i class="fas fa-list text-secondary"></i> 投稿一覧</h3>
  <p><%= link_to '新規投稿ページへ', new_post_path, class: 'btn btn-outline-info' %></p>
  <!--ソート機能-->
  <div class="form-group">
    <%= form_with url: posts_path, method: :get, remote: true do |f| %>
      <div class="row">
        <div class="col-5 col-md-3">
          <%= f.select :sort, options_for_select({'投稿新しい順'=>'new', '投稿が古い順' =>'old'}), {}, class: "form-control" %>
        </div>
        <div class="col-5 col-md-3">
          <%= f.collection_select(:genre, Genre.all, :id, :name, {prompt: "選択してください"}, {class: "form-control"})%>
        </div>
        <%= f.submit '検索', class: 'btn btn-light' %>
      </div>
    <% end %>
  </div>
  <div id="posts_index" class="row">
      <%= render 'posts/list', posts: @posts %>
  </div>

  <%= paginate @posts %>
</div>
