<div class="container">
  <h3>投稿一覧</h3>
  <p><%= link_to '新規投稿ページへ', new_post_path %></p>
  <div class="row">
    <% @posts.each do |post|%>
      <div class="col-md-4 text-center">
        <%= link_to post_path(post.id) do%>
          <%= attachment_image_tag post, :image, size: '300x300' ,format: 'jpeg', fallback: 'no_image2.jpeg'%>
        <% end %>
        <div class="text-left">
          <p><%= link_to post.title, post_path(post.id), class: 'text-decoration-none'%></p>
          <p class="text-truncate"><%= post.genre.name %></p>
          <p class="text-truncate"><%= post.body %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
