<div class="container">
  <h3>投稿一覧</h3>
  <p><%= link_to '新規投稿ページへ', new_post_path %></p>
  <%= form_with url: posts_path, method: :get, local: true do |f| %>
    <%= f.select :sort, options_for_select({'投稿新しい順'=>'new', '投稿が古い順' =>'old'}) %>
    <%= f.submit '検索' %>
  <% end %>
  <div class="row">
    <% @posts.each do |post|%>
      <div class="col-md-4 mt-2">
        <div class="text-center card">
          <%= link_to post_path(post.id) do%>
            <%= attachment_image_tag post, :image, size: '350x350' ,format: 'jpeg', fallback: 'no_image2.jpeg', class: 'card-img-top'%>
          <% end %>
          <div class="text-left card-body">
            <!--いいねボタン-->
            <div class="text-right">
              <%= render 'likes/like_btn', post: post, user: current_user %>
            </div>
            <!--投稿詳細ページリンク-->
            <h5 class="card-title"><%= post.title %></h5>
            <!--投稿ジャンル-->
            <p class="text-truncate card-subtitle mb-2 text-muted"><%= post.genre.name %></p>
            <!--投稿本文-->
            <p class="text-truncate card-text"><%= post.body %></p>
            <p class="text-right"><%= time_ago_in_words(post.created_at).upcase %>前</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
