<div class="container">
  <div class="row">
    <!--投稿詳細内容-->
    <div class="col-md-5 mx-auto">
      <h3>投稿詳細ページ</h3>
      <div>
        <%= attachment_image_tag @post, :image, size: '300x300' ,format: 'jpeg', fallback: 'no_image2.jpeg'%>
        <!--投稿タイトル-->
        <p><%= @post.title %></p>
        <!--投稿本文-->
        <p><%= @post.body %></p>
        <!--投稿作成日時-->
        <p><%= @post.created_at.to_s(:datetime_jp) %></p>
        <!--投稿編集ボタン-->
        <% if current_user.id == @post.user.id%>
          <div>
            <%= link_to '編集する', edit_post_path(@post), class: 'btn btn-outline-success' %>
            <%= link_to '削除する', post_path(@post), method: :delete, class: 'btn btn-outline-danger', data:{confirm: "本当に削除しますか？" }%>
          </div>
        <% end %>
      </div>
    </div>
    <!--コメント一覧-->
    <%= render 'post_comments/index', post: @post, post_comments: @post_comments%>
  </div>
</div>
