<% provide(:title, "投稿詳細")%>
<div class="container my-5">
  <div class="row">
    <div class="col-sm-7 col-lg-4 mx-auto">
      <h3 class="font-weight-bold"><i class="far fa-file text-secondary"></i> 投稿詳細ページ</h3>
      <div class="card border-dark">
        <%= attachment_image_tag @post, :image, size: '320x320' ,format: 'jpeg', fallback: asset_path('no_image2.jpeg'), class: 'card-img-top'%>
        <h5 class="card-header"><%= @post.title %></h5>
        <div class="card-body">
          <%= link_to user_path(@post.user.id) do %>
            <%= attachment_image_tag @post.user, :image, format: 'jpeg', fallback: asset_path('no_image2.jpeg'), size: '50x50', class: 'rounded-circle' %>
          <% end %>
          <div id="like_btn_<%= @post.id %>" class="text-right">
            <%= render 'likes/like_btn', post: @post, user: current_user %>
          </div>
          <p class="text-truncate card-subtitle mb-2 text-muted"><%= @post.genre.name %></p>
          <p class="card-text text-break"><%=safe_join(@post.body.split("\n"), tag(:br)) %></p>
          <p class="card-text text-right"><%= @post.created_at.to_s(:datetime_jp) %></p>
        </div>
        <% if current_user.id == @post.user.id%>
          <div class="text-center card-footer">
            <%= link_to '編集する', edit_post_path(@post), class: 'btn btn-outline-success fas fa-edit' %>
            <%= link_to '削除する', post_path(@post), method: :delete, class: 'btn btn-outline-danger fas fa-trash-alt', data:{confirm: "本当に削除しますか？" }%>
          </div>
        <% end %>
      </div>
    </div>
    <!--コメント一覧の部分テンプレート-->
    <%= render 'post_comments/index', post: @post, post_comments: @post_comments %>
  </div>
</div>
