<div class="container my-5">
  <div class="row">
    <!--投稿詳細内容-->
    <div class="col-md-4">
      <h3 class="far fa-file font-weight-bold"> 投稿詳細ページ</h3>
      <div class="card border-dark">
        <%= attachment_image_tag @post, :image, size: '320x320' ,format: 'jpeg', fallback: 'no_image2.jpeg', class: 'card-img-top'%>
        <!--投稿タイトル-->
        <h5 class="card-header"><%= @post.title %></h5>
        <!--投稿本文-->
        <div class="card-body">
          <%= link_to user_path(@post.user.id) do %>
            <%= attachment_image_tag @post.user, :image, format: 'jpeg', fallback: 'no_image.jpeg', size: '50x50', class: 'rounded-circle' %>
          <% end %>
          <!--いいねボタン-->
          <div class="text-right">
            <%= render 'likes/like_btn', post: @post, user: current_user %>
          </div>
          <!--投稿ジャンル-->
          <p class="text-truncate card-subtitle mb-2 text-muted"><%= @post.genre.name %></p>
          <!--投稿テキスト-->
          <p class="card-text text-break"><%= @post.body %></p>
          <!--投稿作成日時-->
          <p class="card-text text-right"><%= @post.created_at.to_s(:datetime_jp) %></p>
        </div>
        <!--投稿編集ボタン-->
        <% if current_user.id == @post.user.id%>
          <div class="text-center card-footer">
            <%= link_to '編集する', edit_post_path(@post), class: 'btn btn-outline-success fas fa-edit' %>
            <%= link_to '削除する', post_path(@post), method: :delete, class: 'btn btn-outline-danger fas fa-trash-alt', data:{confirm: "本当に削除しますか？" }%>
          </div>
        <% end %>
      </div>
    </div>
    <!--コメント一覧-->
    <%= render 'post_comments/index', post: @post, post_comments: @post_comments %>
  </div>
</div>
