<% results.each do |user| %>
  <div class="col-sm-6 col-lg-4">
    <div class="card border-dark mb-3">
      <!--画像部分-->
      <%= link_to user_path(user.id), class: 'text-decoration-none' do %>
        <%= attachment_image_tag user, :image, size: '350x350', format: 'jpeg',fallback: 'no_image2', class: 'bd-placeholder-img card-img-top' %>
        <!--ユーザーニックネーム-->
        <p class="text-left text-body card-header"><%= user.nickname %></p>
      <% end %>
      <div class="card-body">
        <p class="text-truncate card-text"><%= user.introduction %></p>
        <!--登録日時-->
        <p class="text-right card-text"><%= time_ago_in_words(user.created_at).upcase %>前</p>
      </div>
    </div>
  </div>
<% end %>